<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="testng" parallel= "tests">
 <test thread-count="5" name="Test1">
  	<parameter name = "Browser" value = "chrome"></parameter>
  		<groups>
  			<run>
  				<include name = "Smoke"></include>
  				<include name = "Regression"></include>
  				<include name = "Random"></include>
  			</run>
  		</groups>
  
    <classes>
      <class name="AmazonTest.amazonCartTest"/>
      <class name="AmazonTest.AmazonHomepage"/>
      <class name="AmazonTest.AmazonSignin"/>
     
      
      
    </classes>
  </test>
</suite> <!-- Suite -->
